/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-image: linear-gradient(to bottom right, #800080, #DECEB6);
}
html,
body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 1rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
.nav-header {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 10px 0;
}
.nav-header img {
  width: 20%;
  height: auto;
  margin-left: 5%;
}
.nav-header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  padding-right: 3%;
  padding-left: 10%;
}
.nav-header nav a {
  font: 'Roboto';
  color: #DECEB6;
  text-decoration: none;
  font-size: 1.3rem;
  align-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 10%;
  justify-content: center;
  align-content: center;
}
.nav-header nav a:nth-last-child(-n+3) {
  white-space: nowrap;
}
.nav-header nav a:last-child {
  border: 1px solid #800080;
  padding: 1rem 3rem;
  margin-top: 10px;
  border-radius: 10px;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  align-content: center;
  white-space: nowrap;
}
.nav-header nav a:last-child:hover {
  background: #DECEB6;
  color: #800080;
  border: 1px solid #DECEB6;
}
@media (max-width: 800px) {
  .nav-header {
    display: flex;
    justify-content: space-around;
  }
  .nav-header img {
    width: 25%;
    height: auto;
    margin-left: 2%;
  }
  .nav-header nav {
    padding-right: 2%;
    padding-left: 8%;
  }
  .nav-header nav a {
    visibility: hidden;
    font-size: 1.1rem;
    padding-right: 8%;
  }
  .nav-header nav a:last-child {
    padding: 1rem 1.8rem;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 8%;
  }
}
.dropdown {
  z-index: 2;
  position: absolute;
  right: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button .line1 {
  color: #DECEB6;
  font-size: 3rem;
}
.dropdown .dropdown-content {
  width: 30%;
  position: absolute;
  background: #253f3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 1.5rem;
  color: #DECEB6;
  text-decoration: none;
}
.dropdown .dropdown-hidden {
  display: none;
}
@media (max-width: 500px) {
  .nav-header img {
    width: 15%;
    height: auto;
    margin-left: 2%;
  }
  .nav-header nav {
    padding-right: 2%;
    padding-left: 8%;
  }
  .nav-header nav a {
    font-size: 1.1rem;
    padding-right: 8%;
  }
  .nav-header nav a:last-child {
    padding: 1rem 1.8rem;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 8%;
  }
}
footer .foot {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5% 0 0 0;
  background: #253f3e;
  width: 100%;
}
footer .foot .foot-left {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  padding-left: 10%;
  align-items: flex-start;
}
footer .foot .foot-left img {
  width: 250px;
  height: auto;
}
footer .foot .foot-left p {
  margin-top: 5%;
  padding-bottom: 8%;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: 'Roboto';
  color: #DECEB6;
}
footer .foot .foot-left button {
  padding: 10px 5px;
  width: 150px;
  font-size: 1.5rem;
  border: 2px solid #DECEB6;
  border-radius: 10px;
  background: #DECEB6;
  color: #800080;
  cursor: pointer;
  outline: none;
}
footer .foot .foot-left button:hover {
  background: #800080;
  border: 2px solid #800080;
  color: #DECEB6;
}
footer .foot .foot-right {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}
footer .foot .foot-right h3 {
  margin-top: 30px;
  margin-left: 20%;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #DECEB6;
  font-family: 'Roboto';
  text-align: left;
}
footer .foot .foot-right address {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 20%;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: 'Roboto';
  color: #DECEB6;
}
footer .foot .foot-right .social-icons {
  margin-left: 15%;
}
footer .foot .foot-right .social-icons i {
  margin-left: 5%;
  font-size: 2.5rem;
  color: #DECEB6;
  cursor: pointer;
}
footer .foot .foot-right .social-icons i:hover {
  color: #800080;
}
footer .foot .foot-bottom {
  width: 100%;
  display: flex;
  padding-bottom: -10%;
  align-content: center;
}
footer .foot .foot-bottom p {
  font-size: 1rem;
  margin-top: 10%;
  margin-left: -10%;
  text-align: center;
  color: #DECEB6;
}
html {
  background-image: linear-gradient(to bottom right, #ADB53F, #DECEB6);
}
.homeContent h1 {
  font-size: 3rem;
  font-family: 'Roboto';
  color: #253f3e;
  margin-bottom: 1%;
}
h2 {
  font-size: 2.5rem;
  font-family: 'Roboto';
  color: #253f3e;
}
h3 {
  font-size: 1.5rem;
  font-family: 'Roboto';
  color: #253f3e;
}
p {
  font-size: 1.5rem;
  font-family: 'Roboto';
  color: #253f3e;
}
.homeContent p {
  margin-right: 5%;
}
header {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: #DECEB6;
}
.bodyContainer .homeContainer {
  display: flex;
  justify-content: center;
  margin: 1% auto 0;
  width: 100%;
  padding: 1%;
}
.bodyContainer .homeContainer .homeContent {
  width: 60%;
}
.bodyContainer .homeContainer .homeImg {
  width: 30%;
}
.bodyContainer .homeContainer .oddBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #253f3e !important;
  padding: 2%;
}
.bodyContainer .homeContainer .oddBottom h2,
.bodyContainer .homeContainer .oddBottom p,
.bodyContainer .homeContainer .oddBottom button {
  color: white !important;
  background-color: #253f3e;
}
.bodyContainer .homeContainer .evenBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #800080 !important;
  padding: 2%;
}
.bodyContainer .homeContainer .evenBottom h2,
.bodyContainer .homeContainer .evenBottom p,
.bodyContainer .homeContainer .evenBottom button {
  color: white !important;
  background-color: #800080;
}
.bodyContainer .homeContainer img {
  height: 200px;
  border-radius: 10px;
}
button {
  border: solid white 1px;
  border-radius: 10px;
  font-size: 2.5rem;
  width: 50%;
}
.abtContainer {
  margin: 0 auto;
  width: 100%;
  background: #DECEB6;
  padding: 10% 0;
}
.abtContainer .abtHero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 3%;
}
.abtContainer .abtHero .hero-text {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}
.abtContainer .abtHero .hero-text h1 {
  font-size: 3rem;
  line-height: 1rem;
  color: #253f3e;
  font-family: 'Roboto';
  margin-top: 50px;
  text-align: center;
}
.abtContainer .abtHero .hero-text h2 {
  margin-top: 7%;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #253f3e;
  font-family: 'Roboto';
  text-align: center;
}
.abtContainer .abtHero .hero-text p {
  margin-top: 3%;
  margin-left: 10%;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: 'Roboto';
  color: #253f3e;
  justify-content: center;
  align-content: center;
}
.abtContainer .abtHero .abt-hero-img {
  margin: 30px 50px;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.5);
  transition: 0.3s;
}
.abtContainer .abt-mainContent {
  display: flex;
  flex-flow: row wrap;
  margin: 10% 0;
}
.abtContainer .abt-mainContent .abt-top {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 10%;
  background: #253f3e;
}
.abtContainer .abt-mainContent .abt-top i {
  margin: 10% 0;
  font-size: 5rem;
  line-height: 1.5rem;
  color: #DECEB6;
}
.abtContainer .abt-mainContent .abt-top h3 {
  margin-top: 10%;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #DECEB6;
  font-family: 'Roboto';
}
.abtContainer .abt-mainContent .abt-top p {
  margin-top: 8%;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Roboto';
  color: #DECEB6;
  text-align: center;
}
.abtContainer .abt-mainContent .abt-bottom {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 10%;
  background: #800080;
}
.abtContainer .abt-mainContent .abt-bottom i {
  margin: 10% 0;
  font-size: 5rem;
  line-height: 1.5rem;
  color: #DECEB6;
}
.abtContainer .abt-mainContent .abt-bottom h3 {
  margin-top: 10%;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #DECEB6;
  font-family: 'Roboto';
}
.abtContainer .abt-mainContent .abt-bottom p {
  margin-top: 8%;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Roboto';
  color: #DECEB6;
  text-align: center;
}
.abtContainer .abt-blog-ref {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 10%;
}
.abtContainer .abt-blog-ref .abt-img {
  margin: 5%;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.5);
  transition: 0.3s;
}
.abtContainer .abt-blog-ref .abt-blog {
  display: flex;
  flex-flow: column wrap;
  width: 45%;
  align-items: center;
}
.abtContainer .abt-blog-ref .abt-blog h3 {
  margin-top: 10%;
  font-size: 2.5rem;
  line-height: 1.5rem;
  color: #253f3e;
  font-family: 'Roboto';
  text-align: center;
}
.abtContainer .abt-blog-ref .abt-blog p {
  margin: 5%;
  padding: 3% 5%;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: 'Roboto';
  color: #253f3e;
  text-align: center;
}
.abtContainer .abt-blog-ref .abt-blog button,
.abtContainer .abt-blog-ref .abt-blog .blogbtn {
  padding: 10px 5px;
  width: 150px;
  align-content: center;
  border: 2px solid #800080;
  border-radius: 10px;
  background: #800080;
  color: #DECEB6;
  cursor: pointer;
  outline: none;
}
@media (max-width: 800px) {
  .abtContainer .abtHero {
    margin: 0;
    flex-flow: row-reverse wrap;
  }
  .abtContainer .abtHero .hero-text {
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    justify-content: center;
    align-content: center;
  }
  .abtContainer .abtHero .hero-text h1 {
    font-size: 3.5rem;
    margin-top: 3%;
  }
  .abtContainer .abtHero .hero-text h2 {
    margin-top: 7%;
  }
  .abtContainer .abtHero .hero-text p {
    margin-top: 3%;
    margin-left: 0%;
  }
  .abtContainer .abtHero .abt-hero-img {
    margin: 5%;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
  }
  .abtContainer .abt-mainContent .abt-top {
    width: 100%;
    padding: 5%;
  }
  .abtContainer .abt-mainContent .abt-top i {
    margin: 5% 0;
    font-size: 6rem;
  }
  .abtContainer .abt-mainContent .abt-top h3 {
    margin-top: 5%;
    font-size: 2.5rem;
  }
  .abtContainer .abt-mainContent .abt-top p {
    margin: 5%;
    padding: 0 3%;
  }
  .abtContainer .abt-mainContent .abt-bottom {
    width: 100%;
    padding: 5%;
  }
  .abtContainer .abt-mainContent .abt-bottom i {
    margin: 5% 0;
    font-size: 6rem;
  }
  .abtContainer .abt-mainContent .abt-bottom h3 {
    margin-top: 5%;
    font-size: 2.5rem;
  }
  .abtContainer .abt-mainContent .abt-bottom p {
    margin-top: 5%;
    padding: 0 4%;
  }
  .abtContainer .abt-blog-ref {
    margin-top: 5%;
  }
  .abtContainer .abt-blog-ref .abt-blog {
    width: 100%;
  }
  .abtContainer .abt-blog-ref .abt-blog h3 {
    margin-top: 5%;
    font-size: 2.5rem;
  }
  .abtContainer .abt-blog-ref .abt-blog p {
    margin: 3%;
    padding: 3%;
  }
  .abtContainer .abt-blog-ref .abt-blog button,
  .abtContainer .abt-blog-ref .abt-blog .blogbtn {
    padding: 15px 5px;
    width: 300px;
    font-size: 2rem;
  }
}
.contactContainer {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  display: flex;
  justify-content: space-around;
  padding-right: 5%;
}
.contactContainer .contact {
  width: 70%;
  padding: 4%;
  background: #DECEB6;
}
.contactContainer .contact h1 {
  font-family: 'Roboto';
  color: #253f3e;
  font-size: 3.5rem;
  margin-top: 30px;
  text-align: center;
}
.contactContainer .contact h2 {
  font-family: 'Roboto';
  color: #800080;
  font-size: 2.5rem;
  margin-top: 10px;
  text-align: center;
}
.contactContainer .contact p {
  font-family: 'Roboto';
  font-size: 1.5rem;
  color: #800080;
  text-align: center;
}
.contactContainer .contact form {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  text-align: left;
}
.contactContainer .contact form input[type="text"],
.contactContainer .contact form input[id="first"] {
  padding: 1% 13%;
  margin: 20px 7px;
  border-radius: 10px;
  background: bisque;
  color: #800080;
  font-size: 1.3rem;
}
.contactContainer .contact form input[type="text"],
.contactContainer .contact form input[id="last"] {
  padding: 1% 13%;
  margin: 20px 10px;
  border-radius: 10px;
  background: bisque;
  color: #800080;
  font-size: 1.3rem;
}
.contactContainer .contact form input[type="email"] {
  padding: 1% 13%;
  margin: 20px 10px;
  border-radius: 10px;
  background: bisque;
  color: #800080;
  font-size: 1.3rem;
}
.contactContainer .contact form input[type="tel"] {
  padding: 1% 13%;
  margin: 20px 10px;
  border-radius: 10px;
  background: bisque;
  color: #800080;
  font-size: 1.3rem;
}
.contactContainer .contact form input[type="textarea"] {
  padding: 20% 38%;
  margin: 20px 10px;
  border-radius: 10px;
  background: bisque;
  color: #800080;
  font-size: 1.3rem;
}
.contactContainer .contact form input:focus {
  background: #DECEB6;
  color: #800080;
  border: 2px solid #253f3e;
}
.contactContainer .contact form input[type="text"],
.contactContainer .contact form input[type="email"],
.contactContainer .contact form input[type="tel"],
.contactContainer .contact form input[type="textarea"],
.contactContainer .contact form select {
  outline: none;
}
.contactContainer .contact form input::placeholder {
  text-align: center;
  vertical-align: text-top;
}
.contactContainer .contact form button,
.contactContainer .contact form .form-btn {
  padding: 10px 15px;
  width: 200px;
  font-size: 1.4rem;
  margin: 0 auto;
  border-radius: 10px;
  background: bisque;
  color: #800080;
  cursor: pointer;
  outline: none;
}
.contactContainer .contact form button:hover {
  background: #253f3e;
  color: bisque;
}
.contactContainer .contact-side {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  float: right;
  padding-left: 30px;
  width: 30%;
  align-items: center;
}
.contactContainer .contact-side .box1 {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: #253f3e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  margin-right: 10%;
  padding: 10% 5%;
}
.contactContainer .contact-side .box1 h2 {
  font-family: 'Roboto';
  color: #DECEB6;
  font-size: 1.8rem;
  margin-top: 10px;
  text-align: center;
}
.contactContainer .contact-side .box1 p {
  font-family: 'Roboto';
  font-size: 1.3rem;
  color: #DECEB6;
  text-align: center;
}
.contactContainer .contact-side .box1 button,
.contactContainer .contact-side .box1 .side-btn {
  padding: 5px 5px;
  width: 100px;
  font-size: 1.3rem;
  border-radius: 10px;
  background: #DECEB6;
  color: #253f3e;
  cursor: pointer;
  outline: none;
}
.contactContainer .contact-side .box1 .side-btn:hover {
  background: #800080;
  color: #DECEB6;
  border: 1px solid #800080;
}
.contactContainer .contact-side .box2 {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: #800080;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  margin-right: 10%;
  padding: 7% 5%;
  margin-top: 5%;
}
.contactContainer .contact-side .box2 h2 {
  font-family: 'Roboto';
  color: #DECEB6;
  font-size: 1.8rem;
  margin-top: 10px;
  text-align: center;
}
.contactContainer .contact-side .box2 p {
  font-family: 'Roboto';
  font-size: 1.3rem;
  color: #DECEB6;
  text-align: center;
}
.contactContainer .contact-side .box2 button,
.contactContainer .contact-side .box2 .side-btn {
  padding: 5px 5px;
  width: 100px;
  font-size: 1.3rem;
  border-radius: 10px;
  background: #DECEB6;
  color: #253f3e;
  cursor: pointer;
  outline: none;
}
.contactContainer .contact-side .box2 .side-btn:hover {
  background: #253f3e;
  color: #DECEB6;
  border: 1px solid #253f3e;
}
.blogHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #253f3e;
  padding: 3% 3% 2.5%;
}
.blogHeader p,
.blogHeader h1 {
  color: white !important;
}
.blogContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: #DECEB6;
}
.blogContainer section {
  display: flex;
  justify-content: center;
  margin: 1% auto;
  width: 100%;
  flex-wrap: wrap;
}
.blogContainer section .blog {
  display: felx;
  background-color: #F6F5F0;
  margin: 15px 2%;
  width: 25%;
  padding: 2%;
  text-align: center;
}
.blogContainer section .blog .author {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  background-color: #800080;
  border-radius: 10px;
  padding: 2px;
  width: 50%;
  color: white;
}
.blogContainer section .blog .date {
  margin: 5% 0%;
  text-align: center;
}
.blogContainer section .blog p {
  color: #253f3e;
  text-align: left;
}
.tabContainer {
  display: flex;
  margin: 0 auto 15px auto;
  width: 100%;
  height: 1.5%;
  justify-content: space-evenly;
  background-color: gray;
}
.tabContainer .tab {
  display: flex;
  align-items: center;
  color: #F6F5F0;
  border: 2px solid white;
  border-radius: 15px;
  font-family: 'Roboto';
  padding: 1%;
  cursor: pointer;
  margin: 3px 0px;
  font-size: 2rem;
}
.teamContainer {
  max-width: 100%;
}
.teamContainer .teamhero {
  width: 100%;
  height: 600px;
  background: url('/img/team.jpg') no-repeat;
}
.teamContainer .teamhero .hero h2 {
  font-size: 4rem;
  line-height: 1rem;
  color: #DECEB6;
  font-family: 'Roboto';
  padding-top: 260px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.teamContainer .team-cards {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: #DECEB6;
  margin-top: -10%;
  justify-content: center;
  align-content: center;
}
.teamContainer .team-cards .card1 {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}
.teamContainer .team-cards .card1 h2 {
  margin: 50px 0;
  font-size: 3rem;
  line-height: 1.5rem;
  text-align: center;
  color: #253f3e;
  font-family: 'Roboto';
}
.teamContainer .team-cards .card1 img {
  width: 300px;
  height: 300px;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.5);
  transition: 0.3s;
}
.teamContainer .team-cards .card1 p {
  margin-top: 10%;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 10%;
  font-family: 'Roboto';
  color: #253f3e;
  text-align: center;
}
.teamContainer .team-cards .card1 .social-media {
  margin-left: 30%;
  padding: 5% 0;
}
.teamContainer .team-cards .card1 .social-media i {
  margin-left: 5%;
  font-size: 2.5rem;
  color: #800080;
  cursor: pointer;
}
.teamContainer .team-cards .card1 .social-media i:hover {
  color: #253f3e;
}
.teamContainer .team-cards .card2 {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}
.teamContainer .team-cards .card2 h2 {
  margin: 50px 0;
  font-size: 3rem;
  text-align: center;
  line-height: 1.5rem;
  color: #253f3e;
  font-family: 'Roboto';
}
.teamContainer .team-cards .card2 img {
  width: 300px;
  height: 300px;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.5);
  transition: 0.3s;
}
.teamContainer .team-cards .card2 p {
  margin-top: 10%;
  padding: 0 10%;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Roboto';
  color: #253f3e;
  text-align: center;
}
.teamContainer .team-cards .card2 .social-media {
  margin-left: 30%;
  padding: 5% 0;
}
.teamContainer .team-cards .card2 .social-media i {
  margin-left: 5%;
  font-size: 2.5rem;
  color: #800080;
  cursor: pointer;
}
.teamContainer .team-cards .card2 .social-media i:hover {
  color: #253f3e;
}
