/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html {
  background-image: linear-gradient(to bottom right, red, purple);
}
h1 {
  font-size: 3rem;
  font-family: 'Roboto';
}
h2 {
  font-size: 2rem;
  font-family: 'Roboto';
}
h3 {
  font-size: 1.5rem;
  font-family: 'Roboto';
}
p {
  font-size: 1rem;
  font-family: 'Roboto';
  color: white;
}
header {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  background-color: lightblue;
  border-radius: 30px;
}
.bodyContainer .container {
  display: flex;
  margin: 1% 3%;
}
.bodyContainer .container div {
  margin: 10px;
}
.bodyContainer .container img {
  height: 200px;
  border-radius: 20px;
}
.blogContainer {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 80%;
  background-color: lightblue;
  border-radius: 30px;
}
.blogContainer section {
  display: flex;
  justify-content: center;
  margin: 1% auto;
  width: 80%;
  flex-wrap: wrap;
}
.blogContainer section .blog {
  display: felx;
  background-color: white;
  margin: 2% 2%;
  width: 25%;
  padding: 2%;
  text-align: center;
}
.blogContainer section .blog .author {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  background-color: lightblue;
  border-radius: 10px;
  padding: 2px;
  width: 50%;
}
.blogContainer section .blog .date {
  margin: 5% 0%;
  text-align: center;
}
.blogContainer section .blog p {
  color: black;
  text-align: left;
}
.tabContainer {
  display: flex;
  margin: 0 auto 20px auto;
  width: 100%;
  height: 1.5%;
  justify-content: space-evenly;
  border-radius: 30px;
  background-color: gray;
}
.tabContainer .tab {
  display: flex;
  align-items: center;
  color: white;
  border: 2px dashed black;
  border-radius: 15px;
  font-family: 'Roboto';
  padding: 1%;
  cursor: pointer;
  margin: 3px 0px;
}
