 .contactContainer {
    width: 100%;
    margin: 0 auto;
    .center();
    display:flex;
    justify-content: space-around;
    padding-right: 20px;

    .contact {
       width: 70%;
        margin: 0 20px;
        padding: 40px;
        background: @teal;
        border-radius: 25px;
       

            h1{
                font-family: @font;
                font-size: 3.5rem;
                margin-top: 30px;
                text-align: center;
            }

            h2{
                font-family: @font;
                font-size: 2.5rem;
                margin-top: 10px;
                text-align: center;
            }

            p{
                font-family: @font;
                font-size: 1.5rem;
                color: @white;
                text-align: center;
            }
            
            form {
                display: flex;
                flex-direction: column;
                margin: 0 auto;

                input {
                        padding: 10px 10px; 
                        margin: 20px 0;
                        border-radius: 10px;
                        background: @beige;
                        color: @purple;
                        font-size: 1.3rem;
                    }
                input:focus{
                    background:@dark;
                    color: @beige;
                    border: 2px solid @beige;
                }

                input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[id="msg"], select { 
                         outline: none;
                }

                    button, .form-btn {
                            padding: 10px 15px;
                            width: 200px;
                            margin: 0 auto;
                            border: 2px solid @purple;
                            border-radius: 10px;
                            background: @beige;
                            color: @purple;
                            cursor: pointer;
                            outline: none;
                        }
// hover not working yet!!!
                        button:hover {
                            background:@dark;
                            color: @beige;
                        }
       
        
         }


    }

    .contact-side {
        display:flex;
        flex-direction: column;
        margin: 0 auto;
        float: right;
        padding-left: 30px;
        width: 20%;
        align-items: center;

        .box1 {
            width: auto;
            align-items: center;

            h2{
                font-family: @font;
                font-size: 1.8rem;
                margin-top: 10px;
                text-align: center;
            }

            p{
                font-family: @font;
                font-size: 1.3rem;
                color: @white;
                text-align: center;
            }
            button, .side-btn {
                padding: 5px 5px;
                width: 75px;
                margin-left: 70px;
                align-content: center;
                border: 2px solid @purple;
                border-radius: 10px;
                background: @purple;
                color: @beige;
                cursor: pointer;
                outline: none;

            }
            
        }

        .box2 {
            width: auto;   
            align-items: center;

            h2{
                font-family: @font;
                font-size: 1.8rem;
                margin-top: 10px;
                text-align: center;
            }

            p{
                font-family: @font;
                font-size: 1.3rem;
                color: @white;
                text-align: center;
            }

            button, .side-btn {
                padding: 5px 5px;
                width: 75px;
                margin-left: 75px;
                align-content: center;
                border: 2px solid @purple;
                border-radius: 10px;
                background: @purple;
                color: @beige;
                cursor: pointer;
                outline: none;

            }
        }

    }

 }