 footer .foot{
     display:flex;
     flex-flow: row wrap;
     margin: 70px;
     justify-content: space-between;

     .foot-left{
        display:flex;
        flex-flow: column wrap;
        width: 45%;
     }

     .foot-right{
        display:flex;
        flex-flow: column wrap;
        width: 45%;
    }
 }