 footer .foot{
     display:flex;
     flex-flow: row wrap;
     justify-content: space-between;
     padding: 5% 0 0 0;
     background: @dark;
      width: 100%;

     .foot-left{
        display:flex;
        flex-flow: column wrap;
        width: 50%;
        padding-left: 10%;
        align-items: flex-start;

        img {
         width: 250px;
         height: auto;
     }

         p {
            margin-top: 5%;
            padding-bottom: 8%;
            text-align: left;
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-family: @font;
            color: @beige;
         }

         button {
            padding: 10px 5px;
            width: 150px;
            font-size: 1.5rem;
            border: 2px solid @beige;
            border-radius: 10px;
            background: @beige;
            color: @purple;
            cursor: pointer;
            outline: none;
         }

         button:hover{
            background: @purple;
            border: 2px solid @purple;
            color: @beige;
         }
     }

     .foot-right{
        display:flex;
        flex-flow: column wrap;
        width: 50%;

        h3 {
         margin-top: 30px;
         margin-left: 20%;

         font-size: 2rem;
         line-height: 1.5rem;
         color: @beige;
         font-family: @font;
         text-align: left;
          }

         address {
            margin-top: 20px;
            padding-bottom: 20px;
            margin-left: 20%;
            text-align: left;
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-family: @font;
            color: @beige;
         } 

         .social-icons{
            margin-left: 15%;

            i {
               margin-left: 5%;
               font-size: 2.5rem;
               color: @beige;
               cursor: pointer;
               
         }

         i:hover {
            color: @purple;
            
            }
         }
      }

     .foot-bottom {
        width: 100%;
        display: flex;
        padding-bottom: -10%;
        align-content: center;
       
            p {
               font-size: 1rem;
               margin-top: 10%;
               margin-left: -10%;
               text-align: center;
               color: @beige;
            }
     }
 }

 @media @tablet {
   footer .foot{
    
 
      .foot-left{
 
          p {
  
             font-size: 1.2rem;

          }
 
          button {
             padding: 6px 5px;
             width: 170px;
      }
 
      .foot-right{
         
          }
       }
 
      .foot-bottom {

        
             p {
                font-size: 1rem;
                margin-top: 20%;
             }
      }
  }
 }

 @media @mobile {
   footer .foot{
      width: 100%;
 
      .foot-left{
            width: 100%;
            background: @dark;
            padding-left: 0;
            .center();

            img {
               align-self: center;
            }
 
          p {
             align-self: center;
             margin-top: 5%;
             padding-bottom: 8%;
             text-align: center;
             font-size: 1.3rem;
 
          }
 
          button {
             padding: 10px 5px;
             width: 350px;
             align-self: center;
             font-size: 1.5rem;
             margin-left: -7%;

          }

      }
 
      .foot-right{
         display:flex;
         flex-flow: column wrap;
         width: 100%;
         background: @purple;
         margin-top: 10%;
 
         h3 {
          margin-top: 30px;
          margin-left: 0%;
          font-size: 2.5rem;
          text-align: center;
           }
 
          address {
             margin-left: 0%;
             text-align: center;
          } 
 
          .social-icons{
             margin-left: 5%;
             align-self: center;
 
             i {
                margin-left: 0%;
                padding: 4%;
                font-size: 1.8rem;    
            }
 
          }
       }
 
      .foot-bottom {
         width: 100%;
         align-content: center;
         align-self: center;
        
             p {

                margin-left: 43%;
                text-align: center;

             }
      }
  }
 }