html {
  background-image: linear-gradient(to bottom right, @bgColor, @bgColor2)
}

.homeContent h1 {
  font-size: 3rem;
  font-family: @font;
  color: @dark;
  margin-bottom: 1%;
}

h2 {
  font-size: 2.5rem;
  font-family: @font;
  color: @dark;
}

h3 {
  font-size: 1.5rem;
  font-family: @font;
  color: @dark;
}

p {
  font-size: 1.5rem;
  font-family: @font;
  color: @dark;
}

.homeContent p {
  margin-right: 5%;
}

header {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: @beige;


  .homeContainer {
    display: flex;
    justify-content: center;
    margin: 1% auto 0;
    width: 100%;
    padding: 1%;

    .homeContent {
      width: 60%;
    }

    .homeImg {
      width: 30%;
    }

    .oddBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: @dark !important;
      padding: 2%;


      h2, p, button{
        color: white !important;
        background-color: @dark;
      }
    }

    .evenBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: @purple !important;
      padding: 2%;

      h2, p, button{
        color: white !important;
        background-color: @purple;
      }
    }

    img {
      height: 200px;
      border-radius: 10px;
    }
  }

}

button {
  .btn();
}