.nav-header{
    display: flex;
    flex-direction: row;
    .center();
    height: auto;
    
    justify-content:space-between;
    align-content: center;
    width: 100%;
    margin: 10px 0;

   
    img {
        width: 250px;
        height: auto;
        margin-left: 5%;
    }
   
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .center();
        



        a {
            font: @font;
            color: @beige;
            text-decoration: none;
            font-size: 1.5rem;
            align-content: space-between;
            align-items: center;
            padding-top: 10px;
            padding-right: 80px;
            .center();

           
        }

        a:last-child {
            border: 1px solid @purple;
            padding: 1.3rem;
            margin-top: 10px;
            border-radius: 10px;
            margin-right: 80px;
            align-items: center;
            .center();

        }

        a:last-child:hover{
            background: @beige;
            color: @purple;
            border: 1px solid @beige;
        }

    }

}



  

  

