.nav-header{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content:space-between;
    align-content: center;
    width: 100%;
    margin: 10px 0;

    .dropdown{
        display:none;

}
   
    img {
        width: 20%;
        height: auto;
        margin-left: 5%;
    }
   
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .center();
        padding-right: 3%;
        padding-left: 10%;
        



        a {
            font: @font;
            color: @beige;
            text-decoration: none;
            font-size: 1.3rem;
            align-content: space-between;
            align-items: center;
            padding-top: 10px;
            padding-right: 10%;
            .center();

           
        }

        a:nth-last-child(-n+3){
            white-space: nowrap;
        }

        a:last-child {
            border: 0px solid @purple;
            padding: 1rem 3rem;
            margin-top: 10px;
            border-radius: 10px;
            align-items: center;
            .center();
            white-space: nowrap;

        }

        a:last-child:hover{
            background: @beige;
            color: @purple;
            border: 1px solid @beige;
        }


    }

}



// tablet view

@media @tablet {
    .nav-header{
       display: flex;
       justify-content: space-between; 
    
        img {
            width: 25%;
            height: auto;
            margin-left: 2%;
        }
       
        nav {
            padding-right: 2%;
            padding-left: 8%;
            
            a {
                font-size: 1.1rem;
                padding-right: 8%;
               
            }
    
           
    
            a:last-child {
                padding: 1rem 1.8rem;
                border: 0px solid @dark;
                margin-top: 0px;
                align-self: center;
    
            }

            a:hover{
                background: @beige;
                color: @purple;
            }

            a:last-child:hover{
                background: @purple;
                color: @beige;
                border: 0px solid @purple;
            }
    
        }
    
    }
}
.nav-header .dropdown {
    display: initial;
    z-index: 2;
    position: absolute;
    width: 300px;
    cursor: pointer;
}
i.line1 {
    float: right;
    font-size: 2rem;
    cursor: pointer;
}
nav.dropdown-content {
    width: 100%;
    position: absolute;
    background: @dark;
    padding: 10% 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

a.dropdown-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
    color: @beige;
    text-decoration: none;
}
a.dropdown-link:hover{
    background: @beige;
     color: @purple;
     padding: 25px 150px;
}

a.dropdown-link:last-child:hover{
    background: @beige;
     color: @purple;
     padding: 25px 150px;
}
nav.dropdown-hidden {
    display: none;
}
// mobile phone view

@media @mobile {
    .nav-header{
        
    
       
        img {
            width: 25%;
            height: auto;
            margin-left: 10%;
        }
       
        nav {
            padding-right: 2%;
            padding-left: 8%;
            
            a {
                font-size: 1.1rem;
                padding-right: 8%;
               
            }
    
           
    
            a:last-child {
                padding: 1rem 1.8rem;
                margin-top: 10px;
                border-radius: 10px;
                margin-right: 8%;
    
            }
    
            
    
        }
    
    }
}

  

  

