// font styles


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// colors
@bgColor: #800080;
@bgColor2: #DECEB6;
@secondaryColor: lightblue;
@thirdColor: #F6F5F0;
@green: #0c2701;

@blue: #0C68F1;
@green: #ADB53F;
@beige: #DECEB6;
@gray: slategrey;
@white: white;
@purple: #800080;
@teal: #61C2A1;
@dark: #253f3e;


// font
@font: 'Roboto';
@fontArcade: 'Press Start 2P';



// escaped mobile styles

@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";

 