// font styles

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font: 'Roboto';

@bgColor: lightgrey;
@secondaryColor: lightblue;
@thirdColor: white;

@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";

